<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Password Meter</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<form>
		<div class="container">
			<fieldset>
				<legend>AVALIADOR DE SEGURANÇA DE SENHA</legend>
				<div class="jumbotron" style="margin-top: 50px;">
					<div class="row">
						<input type="password" class="form-control"
							placeholder="Senha" id="password" name="password" />
					</div>
					<div class="row">
						<span class="label label-default" id="score">0%</span> 
						<span class="label label-danger" id="complexity">Muito Curta</span>
					</div>
				</div>
			</fieldset>
		</div>
	</form>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/password.js" ></script>
</body>
</html>